.site-header {
    position: absolute;
    padding: 10px 0;
    width: 100%;
    z-index: 7;
    transition: background-color .5s ease-out
}

@media (min-width:790px) {
    .site-header {
        position: fixed;
        background-color: hsla(34, 77%, 83%, .4)
    }
    .site-header--dark {
        background-color: rgba(142, 112, 71, .8)
    }
}

.site-header--is-expanded {
    background-color: rgba(0, 0, 0, .6)
}

@media (min-width:790px) {
    .site-header__btn-container {
        float: left
    }
}

.site-header__nav-3line-icon {
    position: absolute;
    z-index: 11;
    width: 20px;
    height: 22px;
    top: 10px;
    right: 10px
}

.site-header__nav-3line-icon:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 23px;
    height: 4px;
    background-color: #fff1cf;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    transition: -webkit-transform .4s ease-out;
    transition: transform .4s ease-out;
    transition: transform .4s ease-out, -webkit-transform .4s ease-out
}

.site-header__nav-3line-icon__middle {
    position: absolute;
    top: 9px;
    left: 0;
    width: 23px;
    height: 4px;
    background-color: #fff1cf;
    transition: all .4s ease-out;
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%
}

.site-header__nav-3line-icon:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 23px;
    height: 4px;
    background-color: #fff1cf;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    transition: -webkit-transform .4s ease-out;
    transition: transform .4s ease-out;
    transition: transform .4s ease-out, -webkit-transform .4s ease-out
}

@media (min-width:790px) {
    .site-header__nav-3line-icon {
        display: none
    }
}

.site-header__nav-3line-icon--close-x:before {
    -webkit-transform: rotate(45deg) scaleX(1.25);
    transform: rotate(45deg) scaleX(1.25)
}

.site-header__nav-3line-icon--close-x .site-header__nav-3line-icon__middle {
    opacity: 0;
    -webkit-transform: scaleX(0);
    transform: scaleX(0)
}

.site-header__nav-3line-icon--close-x:after {
    -webkit-transform: rotate(-45deg) scaleX(1.25) translateY(1px);
    transform: rotate(-45deg) scaleX(1.25) translateY(1px)
}

.site-header__nav-content {
    opacity: 0;
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    transition: all .5s ease-out;
    position: relative;
    z-index: -10;
    padding-top: 43px;
    padding-bottom: 43px;
    text-align: center
}

@media (min-width:440px) {
    .site-header__nav-content {
        padding-top: 101px;
        padding-bottom: 101px
    }
}

@media (min-width:790px) {
    .site-header__nav-content {
        opacity: 1;
        z-index: 1;
        padding: 0;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

.site-header__nav-content--is-visible {
    opacity: 1;
    z-index: 7;
    -webkit-transform: scale(1);
    transform: scale(1)
}

.primary-nav {
    padding-top: 16px
}

@media (min-width:790px) {
    .primary-nav {
        padding-top: 0
    }
}

@media (min-width:790px) {
    .primary-nav--pull-right {
        float: right
    }
}

.primary-nav ul {
    margin: 0;
    padding: 0
}

.primary-nav ul:after {
    content: "";
    clear: both;
    display: table
}

.primary-nav li {
    list-style: none;
    display: inline-block;
    padding-right: 15px
}

@media (min-width:790px) {
    .primary-nav li {
        float: left
    }
}

.primary-nav li:last-child {
    padding-right: 0
}

@media (min-width:790px) {
    .primary-nav li:last-child {
        padding-right: 20px
    }
}

.primary-nav a {
    display: block;
    color: #fff;
    text-decoration: none;
    font-weight: 200;
    padding: 12px 8px;
    font-size: .8rem;
    background-color: hsla(34, 77%, 83%, .5)
}

@media (min-width:440px) {
    .primary-nav a {
        padding: 14px;
        font-size: 1.1rem
    }
}

@media (min-width:790px) {
    .primary-nav a {
        padding: 12px 0;
        font-size: 1rem;
        background-color: transparent
    }
    .primary-nav a.is-current-link {
        color: rgba(201, 116, 0, .9)
    }
}

